header {
    text-align: center;
    background-color: white;
    box-shadow: 0px 0px 1em lightgrey;
    padding: 1em;
}

header > * {
    margin: 0.25em;
}

body {
    background-size: cover;
    box-sizing: border-box;
    background-color: whitesmoke;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    box-shadow: 0px 0px 10px lightgrey;
    width: 60%;
}

.calculator {
    text-align: center;
    padding: 1em;
    height: 100%;
}

.calc-type-container {
    display: grid;
    margin-top: 1em;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}

.calc-type {
    box-sizing: border-box;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px lightgrey;
    padding: 1em;
}

.side-input {
    background: none;
    border: none;
    border-bottom: 1px solid grey;
    font-size: 1em;
    outline: none;
    width: 80%;
}

.count-button {
    background-color: lightgrey;
    border: none;
    border-radius: 3px;
    color: black;
    margin-top: 1em;
    padding: 10px;
    transition: .2s ease-out;
}

.count-button:hover {
    transform: scale(1.15);
}

@media screen and (max-width: 480px) {
    img {
        width: 70%;
    }

    .calc-type-container {
        grid-template-columns:1fr;
    }
}